{% extends 'TemplateDashboard.html.twig' %}

{% block title %}Hello TournoiController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h2>Bienvenue dans l'espace des employés ✅</h2>
        <div>
        <img src="{{ asset('dashboard/vendors/images/employe.jpg') }}" class="image_employe" alt="" >
        </div>    
    </div>
    
{% endblock %}